* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;  
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
	background: #CCC;
}

tr:nth-child(1) {
    background: #666; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

tr:nth-child(2) {
    background: #666; /* Цвет фона */
    color: #fff; /* Цвет текста */
} 

th, td {
  border: 1px solid #CCC;
  white-space: nowrap;
  padding: 8px;
}

button {
  width: 100%;
}

body {
 font-family: sans-serif;
 padding: 20px;
}

div {
	margin-bottom: 15px;
}